
.content{
	background: rgba(255,255,255,0.6);
	width: 60%;
	margin: 0 auto;
}
.add-box{
	background: rgba(100,100,100,0.2);
	width:60%;
	margin:30px auto;
}
.add-box textarea{
	/*border:0px background:none;*/
	/*background:transparent;*/
	/*color:#000;*/
	border-style:none;
	border: 0px solid;
	/*background: rgba(0,0,0,0.5);*/
	width:98%;
	height: 150px;
	margin: 10px auto;
}
.add-box a{
	float:right;
}

.bnt{
	float:right;
	/*margin-left:100%;*/
	/*padding:auto,0,auto,auto;*/
}
.add-box span{
	color:blue;
}
.msg-box{
	/*background: #abc;*/
	width:60%;
	margin:60px auto;
}
.msg-box .item{
	color:#333;
	/*background:red;*/
	margin:20px auto;
	box-shadow: 5px 5px #777;
	border:solid 1px #777;
}
.msg-box .item .date{
	float:right;
}
